* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.logo-image {
    float: left;
    margin: 2px;
}

.logo-name {
    float: left;
    margin: 2px;
}


.arrow-image {
    margin-left: 2px;
}

.logoDiv{
    display: inline-block;
}

.logIn-div {
    position: absolute;
    right: 0;
    top: 0;
}

.log-in {
    float: left;
    margin-right: 8px;
    background-color: black;
    color: white;
    border-radius: 5px
}

.sing-up {
    background-color: rgb(236, 235, 233);
    float: left;
    margin-right: 8px;
    border-radius: 5px
}